.a4{
	position: fixed;
	bottom: 3%;
	right: 2%;
	border-radius: 50% ;
	background-color:#5593fd;
	padding: 10px;
}
.a5{
	position: fixed;
	bottom: 11%;
	right: 2%;
	border-radius: 50% ;
	background-color: #5593fd;
	padding: 10px;
}

.et{
	cursor: move;
}


.tutorial{
	min-width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.616);
	position: fixed;
	top: 0;
	color: white;
	font-size: 2em;
	padding: 10px 1em 10px 1em;
	border-radius: 7px;
	display: none;
	
}

.tt1b{
	position: fixed;
	top: 30%;
	left: 35%;
	padding: 10px 1em 10px 1em;
	border-radius: 7px;
	
}

.arrow{
	animation-name: tutor;
	animation-duration: 300ms;
	animation-iteration-count: 3000;
}
@keyframes tutor {
	from {
		color: red;
		transform: scale(1);
	}
	to {
		color: rgb(229, 255, 0);
		transform: scale(1.1);

	}
  }

.tt2b{
	position: fixed;
	top: 42.5%;
	left: 37.5%;
	padding: 10px 1em 10px 1em;
	border-radius: 7px;
}

.tt3a{
	position: fixed;
	font-size: 1.6em;
}

.tt3a1{
	top: 73.8%;
	left: 60px;
}

.tt3a2{
	top: 73.8%;
	right: 60px;
}
.tt3b{
	position: fixed;
	top: 68%;
	left: 29.5%;
	padding: 10px 1em 10px 1em;
	border-radius: 7px;
}

.next{
	position: fixed;
	bottom: 3%;
	right: 2%;
	background-color: yellow;
	color: black;
	font-size: 0.7em;
	padding: 10px 1em 10px 1em;
	border-radius: 7px;
}
.tt2{
	display: none;
}
.tt3{
	display: none;
}
.next:hover{
	background-color: rgb(255, 187, 0);
	cursor: grab;
}



.active{
	text-shadow:  -1px -1px 0 #ffff00, 1px -1px 0 #ffff00, 1px -1px 0 #ffff00, 1px -1px 0 #ffff00;
}

*{
	position: sticky;
}


input[type="color"]{
	width: 2rem;
	height: 1.5rem;
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 23%;
	right: 30%;
}

.Download:hover, .a5:hover{
	background-color: rgb(255, 208, 0);
	box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.05);
}
.downloader{
	position: fixed;
	min-width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.959);
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.DBox{
	color: rgb(255, 255, 255);
	font-size: 3em;
	line-height: 2em;;
}


.intoMark{
	position: fixed;
	color: rgb(255, 255, 255);
	top: 2%;
	right : 3%;
	font-size: 3.5em;
	animation: beat 0.3s ease infinite;
	cursor: hand;
}

@keyframes beat{
	from{
		transform: scale(1);
		color: white;
	}
	to{
		transform: scale(1.5);
		color: rgb(255, 0, 0);
	}
}

.intoMark:hover{
	cursor: hand;
}


.inputArea{
	background-color: rgba(0, 0, 0, 0.746);
	min-height: 100vh;
	min-width: 100vw;
	position: relative;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}

.inputBox{
	border: 2px solid rgb(0, 0, 0);
	margin: auto;
	width: 300px;
	padding: 10px;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
	border-radius: 7px;
	background-color: rgb(236, 234, 234);
}

.InputBoxes{
	background-color: rgb(255, 255, 255);
	color: black;
	resize: vertical;
	border-radius: 7px;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px;
}
.input-submit-button{
	margin-top: 20px;
	font-size: 1.2em;
	background-color: rgb(170, 255, 0);
	border: none;
	border-radius: 3px;
	padding: 10px 19px 10px 19px;
	margin-bottom: 10px;
	border: 1px solid black;
}
.input-submit-button:hover{
	background-color: rgb(30, 255, 0);
}